<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("/Content/css")
    @Scripts.Render("/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Guild Cars", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("New Inventory", "NewInventory", "Home")</li>
                    <li>@Html.ActionLink("Used Inventory", "UsedInventory", "Home")</li>
                    <li>@Html.ActionLink("Specials", "Specials", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Sales"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Sales
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Sale Management", "Index", "Sales")</li>
                                <li>@Html.ActionLink("Change Password", "ChangePassword", "Sales")</li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Vehicle Management", "Index", "Admin")</li>
                                <li>@Html.ActionLink("Makes Management", "Makes", "Admin")</li>
                                <li>@Html.ActionLink("Models Management", "Models", "Admin")</li>
                                <li>@Html.ActionLink("Specials Management", "Specials", "Admin")</li>
                                <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                                <li>@Html.ActionLink("Change Password", "ChangePassword", "Admin")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Guild Cars</p>
        </footer>
    </div>

    @Scripts.Render("/bundles/jquery")
    @Scripts.Render("/Scripts/jquery.validate.min.js")
    @Scripts.Render("/Scripts/additional-methods.min.js")
    @Scripts.Render("/bundles/bootstrap")
    @Scripts.Render("/Scripts/Home.js")
    @RenderSection("scripts", required: false)
</body>
</html>
