@model GuildCars.UI.Models.EditVehicleViewModel
@{
    ViewBag.Title = "Edit Vehicle";
}



<div class="tableDiv">
    <h2>Edit Vehicle</h2>
    @using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "editVehicleForm", @class = "contactForm form-horzontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Car.CarId, new { @id = "CarId" })
      
        <table class="table-responsive table" style="border-collapse: collapse">
            <tr class="form-group guildCarsFormGroup" style="border: hidden">
                <td>
                    <label>Make: </label>
                    @Html.DropDownListFor(m => m.AdminEditFormModel.MakeId, Model.Makes, new { @class = "formDropDown", @onchange = "javascript:getModels(this.value)" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.MakeId)</span>
                </td>

                <td>
                    <label>Model: </label>
                    @Html.DropDownListFor(m => m.AdminEditFormModel.ModelId, Model.Models, new { @class = "formDropDown", @id = "Models" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.ModelId)</span>
                </td>
            </tr>
            <tr class="form-group guildCarsFormGroup" style="border: hidden">
                <td>
                    <label>Type: </label>
                    @Html.DropDownListFor(m => m.AdminEditFormModel.Type, new SelectList(Model.Types, Model.AdminEditFormModel.Type), new { @id = "VehicleType", @style = "width:200px; display: block; height: 30px;" })
                </td>
                <td>
                    <label>BodyStyle: </label>
                    @Html.DropDownListFor(m => m.AdminEditFormModel.BodyStyleId, Model.BodyStyles, new { @id = "BodyStyle", @class = "formDropDown" })
                </td>
            </tr>
            <tr class="form-group guildCarsFormGroup" style="border: hidden">
                <td>
                    <label>Year: </label>
                    @Html.TextBoxFor(m => m.AdminEditFormModel.Year, new { @class = "form-control", @maxlength = 4 })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.Year)</span>
                </td>
                <td>
                    <label>Transmission: </label>
                    @Html.DropDownListFor(m => m.AdminEditFormModel.TransmissionId, Model.Transmissions, new { @class = "formDropDown" })
                </td>
            </tr>
            <tr class="form-group guildCarsFormGroup" style="border: hidden">
                <td>
                    <label>Color: </label>
                    @Html.DropDownListFor(m => m.AdminEditFormModel.BodyColorId, Model.Colors, new { @class = "formDropDown" })
                </td>
                <td>
                    <label>Interior Color: </label>
                    @Html.DropDownListFor(m => m.AdminEditFormModel.InteriorColorId, Model.IntColors, new { @class = "formDropDown" })
                </td>
            </tr>
            <tr class="form-group guildCarsFormGroup" style="border: hidden">
                <td>
                    <label>Mileage: </label>
                    @Html.TextBoxFor(m => m.AdminEditFormModel.Mileage, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.Mileage)</span>
                </td>
                <td>
                    <label>VIN #: </label>
                    @Html.TextBoxFor(m => m.AdminEditFormModel.VIN, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.VIN)</span>
                </td>
            </tr>
            <tr class="form-group guildCarsFormGroup" style="border: hidden">
                <td>
                    <label>MSRP: </label>
                    @Html.TextBoxFor(m => m.AdminEditFormModel.MSRPInput, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.MSRPInput)</span>
                </td>
                <td>
                    <label>Sale Price: </label>
                    @Html.TextBoxFor(m => m.AdminEditFormModel.SalePriceInput, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.SalePriceInput)</span>
                </td>
            </tr>
            <tr class="form-group guildCarsFormGroup" style="border: hidden; width: 100%">
                <td colspan=2>
                    <label>Description: </label>
                    @Html.TextAreaFor(m => m.AdminEditFormModel.Description, new { rows = 8, @style = "width:100%; max-width:69.5%; display: block" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.Description)</span>
                </td>
            </tr>
            <tr class="form-group guildCarsFormGroup" style="border: hidden; width: 100%">
                <td colspan=2>
                    <img src="@Url.Content(Model.Car.IMGFilePath)" class="resize" />
                    <label>Image</label>
                    @Html.TextBoxFor(m => m.AdminEditFormModel.Picture, new { type = "file", @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.AdminEditFormModel.Picture)</span>
                </td>
            </tr>
            <tr class="form-group guildCarsForm" style="border: hidden">
                <td>
                    <label>Feature Vehicle</label>
                    @Html.CheckBoxFor(m => m.AdminEditFormModel.Featured, new { @class = "form-control", @style = "width:15px; height:15px;" })
                </td>
            </tr>
            <tr class="form-group guildCarsFormGroup" style="border: hidden">
                <td>
                    <button type="button" id="deleteId" style="background-color: red" value="" class="btn btn-primary guildCarsFormGroup" onclick="deleteCar(this.value)">Delete</button>

                    <button type="submit" class="btn btn-primary guildCarsFormGroup" onclick="setCarIds()">Save</button>
                </td>
        </table>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            setCarIds();

            $('#editVehicleForm').validate({
                rules: {
                    'AdminEditFormModel.Make': {
                        required: true
                    },
                    'AdminEditFormModel.Model': {
                        required: true
                    },
                    'VehicleType': {
                        required: true,
                    },
                    'BodyStyleType': {
                        required: true,
                    },
                    'TransmissionType': {
                        required: true,
                    },
                    'AdminEditFormModel.Year': {
                        required: true,
                        number: true,
                        min: 2000,
                    },
                    'AdminEditFormModel.Mileage': {
                        required: true,
                        number: true,
                    },
                    'AdminEditFormModel.VIN': {
                        required: true,
                    },
                    'InteriorColor': {
                        required: true,
                    },
                    'BodyColor': {
                        required: true,
                    },
                    'AdminEditFormModel.MSRPInput': {
                        required: true,
                    },
                    'AdminEditFormModel.SalePriceInput': {
                        required: true,
                    },
                }
            });
        });
    </script>
}
